button {
  font-size: 20px;
  padding: 5px 10px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

thead {
  background-color: black;
  color: white;
}

tr.tbody:nth-child(odd) {
  background-color: lightgray;
}
